<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    {% if page.description %}
    <meta name="description" content="{{page.description}}" />
    {% endif %}
    <title>ID-Labor - {{page.headtitle}}</title>
    <link
      rel="stylesheet"
      href="/assets/bootstrap.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/fonts.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  </head>
  <body {% if page.quelle %}class="longfooter" {% endif %}>
    <div class="content">
      {% include nav.html current=page.permalink %}
      <main class="col-md-8 offset-md-2 col-10 offset-1 container">
        <h1>{{page.title}}</h1>
        <br /><br />
        {{content}}
      </main>
    </div>
    <footer class="bg-light">
      <span class="small offset-md-2"
        >&copy; 2023 ID-Labor GmbH{% if page.quelle %}. {{page.quelle}} {% endif
        %}</span
      >
    </footer>
    <!--{% include footer.html %}-->

    <script src="/assets/jquery.js" crossorigin="anonymous"></script>
    <script src="/assets/popper.js" crossorigin="anonymous"></script>
    <script src="/assets/bootstrap.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
